html {
  font-size: 62.5%;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: #f8f9ff;
  font-size: 1.6rem;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.main {
  padding-top: 20px;
  padding-bottom: 20px;
}
