@use "../../sass/app.scss" as *;
.comicDetail {
  &-main {
    max-width: 800px;
    padding-bottom: 40px;
  }
  &-heading {
    margin: 20px 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $primary-color;
    }
  }
}
